<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kpnzstudios.playerkpnz">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.AlbumActivity" />
        <activity android:name=".activities.ArtistActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MusicService"
            android:singleUser="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="kpnz.start" />
                <action android:name="kpnz.next" />
                <action android:name="kpnz.back" />
                <action android:name="kpnz.resumeOrPause" />
                <action android:name="kpnz.changedSeekBar" />
                <action android:name="kpnz.activityFinished" />
                <action android:name="kpnz.activityOpened" />
                <action android:name="kpnz.close" />
            </intent-filter>
        </service>
    </application>

</manifest>